.display--dayOverview {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
}

.forecastImage--dayOverview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  order: 1;
  width: 15%;

  img {
    height: 25px; 
  }
}

.forecastBrief--dayOverview {
  order: 2;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-right: 5px;
}

.forecastTemperature--dayOverview {
  order: 3;
  display: flex;
  flex-flow: row nowrap;
  width: 25%;
  font-size: 12px;
}

 .display__description--dayOverview {
   font-size: 12px;
   line-height: 1;
   margin: 0px;
   text-overflow: ellipsis;
   overflow: hidden;
 }
 
 .display__dayOfWeek--dayOverview {
   font-size: 13px;
   margin: 0px;
   color: black;
 } 

.display__high--dayOverview,
.display__low--dayOverview {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.temperatureHeading--dayOverview {
  margin: 0px;
  color: black;
}

.temperatureReading--dayOverview {
  margin: 0px;
}

@media (min-width: 750px) {
  .forecastImage--dayOverview img {
    height: 35px; 
  }

  .temperatureHeading--dayOverview {
    font-size: 16px; 
  }  

  .temperatureReading--dayOverview {
    font-size: 14px; 
  }

  .display__dayOfWeek--dayOverview {
    font-size: 18px; 
  }

  .display__description--dayOverview {
    font-size: 14px; 
  }
}

@media (min-width: 992px) {
  .display--dayOverview {
    width: 100%;
    flex-flow: column nowrap;
  }

  .forecastBrief--dayOverview {
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: initial;
    order: 1;
    padding: 0px 2px;
  }

  .forecastImage--dayOverview {
    height: 34%;
    width: 100%;
    order: 2;

    img {
      height: 60px; 
    }
  }

  .forecastTemperature--dayOverview {
    height: 25%;
    width: 100%;
    order: 3;
  }
 
  .display__dayOfWeek--dayOverview {
    font-size: 20px; 
  }

  .display__high--dayOverview,
  .display__low--dayOverview {
    flex-flow: column nowrap;
  }

  .temperatureHeading--dayOverview {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .temperatureReading--dayOverview {
    margin: 0px;
  }
} 
