<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title></title>
    <% if(typeof initialState !== 'undefined') { %>
      <script type="application/javascript">
        window.__INITIAL_STATE__ = <%- initialState %>
      </script>
    <% } %>
  </head>
  <body>
    <div id='root'>
      <% if(typeof content !== 'undefined') { %>
       <div><%- content %></div> 
      <% } %>
    </div>  
    <script src="/app.bundle.js"></script>
  </body>
</html>
