.container--detail {
  height: 100%;
  width: 100%;
}

.forecastTemperature--dayDetail {
  height: 34%;
  width: 100%;
  background-color: rgba(52, 175, 212, 0.2); 
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.display__fullDate--dayDetail {
  height: 5%;

  p {
    font-size: 14px; 
    color: black;
    margin: 0px;
    text-align: center;
  }
}

.display__description--dayDetail {
  height: 8%;

  p {
    font-size: 16px;
    margin: 2px 0px 0px 0px;
    text-align: center; 
  }
}

.forecastImage--dayDetail, 
.display__low--dayDetail,
.display__high--dayDetail {
  height: 100%;
  width: 35%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.forecastImage--dayDetail {
  width: 30%;

  img {
    height: 100px; 
  }
}

.display__environmentals--dayDetail {
  height: 27%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.display__environmentals--dayDetail ul {
  list-style-type: none;
  padding: 0px;
  width: 96%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px;
  text-align: center;
}

.display__environmentals--dayDetail ul li {
  height: 45px;
  width: 32%; 
}

.display__envHeading--dayDetail {
  margin: 0px;
  color: black;
}

.temperatureHeading--dayDetail {
  font-size: 16px;
  margin: 0px;
  color: black;
}

.temperatureReading--dayDetail {
  font-size: 30px;
  margin: 0px;
}

@media (min-width: 750px) {
  .forecastImage--dayDetail img {
    height: 130px; 
  }

  .display__low--dayDetail {
    padding-left: 200px; 
  }

  .display__high--dayDetail {
    padding-right: 200px; 
  }

}

@media (min-width: 992px) {
}

