.container--overview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.display--location {
  height: 26%;
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.container--weekOverview {
  height: 50%;
  margin: 0px 3px 3px 3px;
}

.container--dayOverview {
  background-color: rgba(202, 235, 242, 0.6);
  box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.5);
  height: 19%;
  margin: 3px 0px 3px 0px;
  padding: 0px !important;
}

.container--currentOverview {
  height: 24%;
}

.mask--dayOverview {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
    &:hover {
      opacity: 1;
      background-color: rgba(100, 214, 238, 0.5); 
    }
}

@media (min-width: 992px) {

  .container--overview {
    width: 90%;
  }

  .container--weekOverview {
    text-align: center; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px -3px 0px -3px;
    height: 40%;
 }

  .container--dayOverview {
    width: 19%;
    height: 75%;
  }

  .display--location {
    height: 20%;
  }

  .container--currentOverview {
    height: 40%;
  }
}
